@model DashBoardViewModel


@{
    ViewData["Title"] = "Dashboard";
}


<partial name="_Submenu" model="SubMenuDashboard.Ventas"/>
<partial name="_Links" />

<select class="form-control-sm" id="ventas">
    @foreach (var años in Model.Años)
    {
        <option value="@años.Value">@años.Text</option>
    }
</select>


@* <partial name="_SelectAño" model="Model.Años" /> *@
<partial name="_EstadisticasVentas" model="@Model.ModelValue" />



@section Scripts {

    <script>

        $(document).ready(function () {

            var meses = []
            var años = []
            var ventasAnuales = []
            var ventasMensuales = []
            var ventasDiarias = []
            var color = "blue"
            var myChartMensual;
            var select = document.querySelector("#ventas")
            var valorSelect = parseInt(select.value)


            @if (Model.VentasAnuales.Count() > 0)
            {
                foreach (var item in Model.VentasAnuales)
                {
                    @:años.push("@item.VentasAño")
                    @:ventasAnuales.push("@item.Total")

                }
            }

            @*@if (Model.VentasMensuales.Count() > 0)
            {
                foreach (var item in Model.VentasMensuales)
                {
                    @:meses.push("@item.Mes")
                    @:ventasMensuales.push("@item.Total")

                }
            }*@


                $.ajax({
                    type: "GET",
                    url: "/DashBoard/Ventas/",
                    dataType: "json",
                    data: { año: valorSelect },
                    success: function (response) {

                        console.log(response)
                        var labels = response.map(item => item.mes)
                        var data = response.map(item => item.total)

                        myChartMensual = new Chart(document.getElementById("myChartMensual"), {
                            type: "bar",
                            data: {
                                labels: labels,
                                datasets: [{
                                    backgroundColor: "blue",
                                    data: data
                                }]
                            },
                            options: {
                                legend: { display: false },
                                responsive: true,
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                            stepSize: 1,
                                            precision: 0
                                        }
                                    }],
                                }
                            }
                        });
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        console.log(xmlHttpRequest)
                    }
                });







                $("#ventas").change(function () {

                    var select = document.querySelector("#ventas")
                    var valorSelect = parseInt(select.value)

                   

                    $.ajax({
                        type: "GET",
                        url: "/DashBoard/Ventas/",
                        dataType: "json",
                        data: { año: valorSelect },
                        success: function (response) {

                            
                            var labels = response.map(item => item.mes)
                            var data = response.map(item => item.total)


                            if (myChartMensual) {
                                // Update chart data
                                myChartMensual.data.labels = labels;
                                myChartMensual.data.datasets.forEach((dataset) => {
                                    dataset.data = data;
                                });
                                myChartMensual.update();
                            }
                            else {
                                myChartMensual = new Chart(document.getElementById("myChartMensual"), {
                                    type: "bar",
                                    data: {
                                        labels: labels,
                                        datasets: [{
                                            backgroundColor: "blue",
                                            data: data
                                        }]
                                    },
                                    options: {
                                        legend: { display: false },
                                        responsive: true,
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true,
                                                    stepSize: 1,
                                                    precision: 0
                                                }
                                            }],
                                        }
                                    }
                                });
                            }
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown) {
                            console.log(xmlHttpRequest)
                        }
                    });

                })







                new Chart("myChartAnual", {
                    type: "bar",
                    data: {
                        labels: años,
                        datasets: [{
                            backgroundColor: color,
                            data: ventasAnuales
                        }]
                    },
                    options: {
                        legend: { display: false },
                        responsive: true,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: 1,
                                    precision: 0
                                }
                            }],
                        }
                    }
                });

            new Chart("myChartMensual", {
                type: "bar",
                data: {
                    labels: meses,
                    datasets: [{
                        backgroundColor: color,
                        data: ventasMensuales
                    }]
                },
                options: {
                    legend: { display: false },
                    responsive: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                stepSize: 1,
                                precision: 0
                            }
                        }],
                    }
                }
            });


            new Chart("myChartDiario", {
                type: "bar",
                data: {
                    labels: [1, 3, 4],
                    datasets: [{
                        backgroundColor: color,
                        data: [2, 5, 7]
                    }]
                },
                options: {
                    legend: { display: false },
                    responsive: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                stepSize: 1,
                                precision: 0
                            }
                        }],
                    }
                }
            });
            

        });




    </script>

}


