@model CompraCreacionViewModel
@{
    ViewData["Title"] = "Vista Compras";
}

<h1>Lista de compras</h1>

<a asp-action="Crear" asp-controller="Compras" class="btn btn-primary mb-4">Agregar compra</a>


<p class="mb-4 h3">Total de ganancias en compras: @Model.MontoTotal</p>



<table class="table" id="example">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Proveedor</th>
            <th>Descripcion</th>
            <th>Fecha Compra</th>
            <th>Total</th>
            <th>Tipo Compra</th>
            <th>Monto devolucion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var compra in Model.Compras)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-route-Id="@compra.Id" asp-action="Actualizar">Editar</a>
                    <a class="btn btn-danger" data-id="@compra.Id" data-action="Eliminar">Borrar</a>
                </td>   
                <td>@compra.Proveedor</td>
                <td>@compra.Descripcion</td>
                <td>@compra.FechaCompra.ToString("yyyy-MM-dd")</td>
                <td>@compra.Total</td>
                <td>@compra.TipoCompra</td>
                <td>@compra.MontoDevolucion</td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{

    <script>

        $("document").ready(function () {
            new DataTable('#example', {
                rowReorder: true
            });

            console.log(2)


            $("a[data-action='Eliminar']").click(function () {
                let id = $(this).data("id");
                let row = $(this).closest("tr"); // Obtener la fila actual

                if (confirm("¿Estás seguro de que deseas eliminar este registro?")) {
                    $.ajax({
                        type: "POST",
                        url: "/Compras/Eliminar/" + id,
                        success: function () {
                            // Eliminar la fila de la tabla
                            row.remove();
                        },
                        error: function () {
                            alert("Error al eliminar el elemento.");
                        }
                    });
                }
            });

        })




    </script>


}


