@model EstadoReporteViewModel
@{
    ViewData["Title"] = "Estado reporte";
}

<h1>Enfoque en beneficios</h1>
<p class="mb-4 display-6">Total en ventas: @Model.TotalVentas.ToString("N")</p>
<p class="mb-4 display-6">Total en compras: @Model.TotalCompras.ToString("N")</p>
<p class="mb-4 display-6">Total en utilidad: @Model.TotalUtilidad.ToString("N")</p>



<table class="table" id="example">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Total Ventas</th>
            <th>Total Compras</th>
            <th>Utilidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BeneficiosDiarios)
        {
            <tr>
                <td>@item.Fecha.ToString("yyyy-MM-dd")</td>
                <td>@item.TotalVentas.ToString("C")</td>
                <td>@item.TotalCompras.ToString("C")</td>
                <td>@item.Utilidad.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script>

        // $("document").ready(function () {
        //     new DataTable('#example', {
        //         rowReorder: true
        //     });

        //     console.log(2)

        // }

         $(document).ready(function () {
            $('#example').DataTable({
                rowReorder: true
            });

        

            // document.getElementById('yearSelect').onchange = function () {
            //     document.getElementById('yearForm').submit();
            // };


        });


    </script>


}







