@model IEnumerable<ControlCalidad>

@{
    ViewData["Title"] = "Vista Control Calidad";
}

<h1>Lista de informes de control de calidad</h1>

<a asp-action="Crear" asp-controller="ControlCalidad" class="btn btn-primary mb-5">Agregar informe</a>



<table class="table" id="example">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Descripcion de la compra</th>
            <th>Fecha</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var controlCalidad in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-route-Id="@controlCalidad.Id" asp-action="Actualizar">Editar</a>
                    <a class="btn btn-danger" data-id="@controlCalidad.Id" data-action="Eliminar">Borrar</a>
                </td>
                <td>@controlCalidad.Nombre</td>
                <td>@controlCalidad.Fecha</td>
                <td>@controlCalidad.Estado</td>
            </tr>
        }
    </tbody>
</table>



@section Scripts{

    <script>

        $("document").ready(function () {
            new DataTable('#example', {
                rowReorder: true
            });


            $("a[data-action='Eliminar']").click(function () {
                let id = $(this).data("id");
                let row = $(this).closest("tr"); // Obtener la fila actual

                if (confirm("¿Estás seguro de que deseas eliminar este registro?")) {
                    $.ajax({
                        type: "POST",
                        url: "/ControlCalidad/Eliminar/" + id,
                        success: function () {
                            // Eliminar la fila de la tabla
                            row.remove();
                        },
                        error: function () {
                            alert("Error al eliminar el elemento.");
                        }
                    })
                }
            })
        })




    </script>


}

